#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service2{  
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service4{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service5{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service6{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service7{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service8{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: calc(25% - 24px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;              
}


.service-image{
    width: 150px;
}

.service1:hover{
    transform: scale(1.02);
}

.service2:hover{
    transform: scale(1.02);
}

.service3:hover{
    transform: scale(1.02);
}

.service4:hover{
    transform: scale(1.02);
}

.service5:hover{
    transform: scale(1.02);
}

.service6:hover{
    transform: scale(1.02);
}

.service7:hover{
    transform: scale(1.02);
}

.service8:hover{
    transform: scale(1.02);
}

.service-description{
    color: #434343;
    text-align: center;
}

@media screen and (max-width: 1170px) {
    #services{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .service{
        width: calc(50% - 12px);
    }

}

@media screen and (max-width: 600px) {
    .service{
        width: 100%;
    }
}

#menu .section-subtitle{
    text-align: center;
    
}